<!--<h1>Public::Trees#edit</h1>-->
<div class = "container-fluid">
  <div class = "row">
    
    <!--部分テンプレート：ツリー編集-->
    <%= render 'layouts/tree_edit', tree: @tree, url: @url, user_areas: @user_areas, jobs: @jobs %>
    
  </div>
</div>


