<!--<h1>Public::Trees#new</h1>-->
<div class = "container-fluid">
  <div class = "row">

    <!--部分テンプレート：new-->
    <%= render 'layouts/tree_new', tree: @tree, url: @url, user_areas: @user_areas, jobs: @jobs %>

  </div>
</div>

