<!--<h1>Public::Homes#top</h1>-->

<!--部分テンプレ：メッセージ-->
<%= render 'layouts/message' %>

<div class = "container-fluid">
  <div class = "row">
    <p>
      業務掲示板です</br>
      登録済みの方は、ログイン　してください</br>
      未登録の方は、新規登録　してください
    </p>
  </div>
</div>
