@import '~bootstrap/scss/bootstrap';

// fontawesome　ヘッダーにあるベル
.header_bell {
  position: absolute;
  padding-left: 1rem;
  padding-top: 1rem;
  color: #efa04c;
}


// fontawesome　通知機能と掲示板一覧にあるベル
.fa-bell {
  color: #efa04c;
}

// エラー崩れを防ぐ
.field_with_errors {
  display: contents;
  // もしくは diplay: inline;
  // input {
    // @extend .is-invalid;
  // }
}