<!--<h1>End::Notifications#index</h1>-->
<div class = "container-fluid">
  <div class = "row">
    <!--検索-->
    <div class = "col-md-3 border-right pl-4">
      <!--部分テンプレート：検索-->
      <%= render 'layouts/search' %>
      <!--部分テンプレート：ジャンル検索-->
      <%= render 'layouts/side_search', jobs: @jobs %>
    </div>

    <div class = "col-md-8">
      <!--通知が存在する場合-->
      <% if @notifications.exists? %>
        <!--部分テンプレート：ジャンル検索-->
        <%= render 'layouts/notification_info', notifications: @notifications %>
      <!--通知が存在しない場合-->
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
