<!--<h1>Admin::Trees#confirm</h1>-->
<div class = "container-fluid">
  <div class = "row">

   <!--部分テンプレート：ツリー本文-->
   <%= render 'layouts/tree_confirm', tree: @tree, url: @url, files: @files %>

  </div>
</div>