<!--部分テンプレート-->
<!--admin end_user#index-->
<!--検索機能-->
<% if admin_user_signed_in? %>

  <!--検索-->
  <%= form_with url: end_user_search_admin_searches_path, method: :get do |f| %>
    <%= f.text_field :keyword, placeholder: "社員番号・氏名検索" %>
    <%= f.submit "検索", class: "btn btn-secondary btn-sm" %>
  <% end %><br>

  <!--拠点検索-->
  <div class="dropdown mt-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      拠点検索
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <% areas.each do |area| %>
        <%= link_to area.name, admin_end_users_path(area: area.id), class: "dropdown-item", type: "button" %>
      <% end %>
    </div>
  </div>
<% else %>

<% end %>